.users{
 z-index: 11;
    width: 100%;
    height: auto;
    padding-top: 6%;
background-color: #fff;
}
.users .mainUserBody{
 
    width: 100%;
    height:auto;
background-color: #fff;
}
.users h1{
    font-size: 30px;
}



/* userProfileMenu */
.users .mainUserBody .userProfileMenu{
    background-color: #fff;
    width: 100%;
padding-bottom: 2%;
padding-top: 2%;   
 height:auto;
    
    display: flex;
}
.users .mainUserBody .userProfileMenu .profile{
    position: relative;
    width: 10vw;
    height: 10vw;
margin-left: 26%;
    border: 3px solid rgb(51, 51, 51);
    border-radius: 160px;
 
}
.users .mainUserBody .userProfileMenu .profile .userProfileMainImage{
    border-radius: 160px;
    
}
.users .mainUserBody .userProfileMenu .userDetails{

    width: 50%;
margin-left: 5%;  
}
.users .mainUserBody .userProfileMenu .userDetails .top{
    display: flex;
    width: 100%;
    margin-top: 2%;
}
.users .mainUserBody .userProfileMenu .userDetails .top h2{
    font-size: 2vw;
    margin-right: 4%;
}

.users .mainUserBody .userProfileMenu .userDetails .top .followBtn{
    background-color: rgb(51, 51, 51);
font-size: 1vw;
font-weight: 500;
height: 2.5vw;
color: white;
margin-top: 0.3%;
border-radius: 4px;
    padding: 0% 8%;
}

.users .mainUserBody .userProfileMenu .userDetails .top .MessageBtn{

margin-left: 1%;
background-color: rgb(51, 51, 51);
font-size: 1vw;
border-radius: 4px;
margin-top: 0.3%;
font-weight: 500;
height: 2.5vw;
color: white;
    padding: 0% 8%;
}




.users .mainUserBody .userProfileMenu .userDetails .top .settingUser{
font-size: 1.6vw;
margin-top: 35%;
    margin-left: 100%;
}
.users .mainUserBody .userProfileMenu .userDetails .top .settingUser:hover{
    color: rgb(137, 178, 255);
    cursor: pointer;
}

.users .mainUserBody .userProfileMenu .userDetails .top .followBtn:hover{
    background-color: rgb(137, 178, 255);
}

/* userStatus */

.users .mainUserBody .userProfileMenu .userDetails .userStatus{
    width: 100%;
    display: flex;
    list-style: none;
}
.users .mainUserBody .userProfileMenu .userDetails .userStatus li{
    margin-top: 3%;
    margin-right: 4%;
    color: rgb(81, 81, 81);
    font-size: 1.2vw;
    cursor: pointer;
}
.users .mainUserBody .userProfileMenu .userDetails .userStatus li:hover,.users .mainUserBody .userProfileMenu .userDetails .userStatus li:hover b{
    color: rgb(57, 8, 250);

}

.users .mainUserBody .userProfileMenu .userDetails .userStatus b{
    color: rgb(51, 51, 51);

}
.users .mainUserBody  .detailsIcons {
   width: 100%;
   height: auto;
   background-color: rgb(255, 255, 255);
}
.users .mainUserBody  .detailsIcons .menusIcons{
    width: 63%;
    margin-left: 18%;
    height: 10vw;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.users .mainUserBody  .detailsIcons .menusIcons li{
    width: auto;
    margin-right: 4%;
 
}
.users .mainUserBody  .detailsIcons .menusIcons li .IconParent{
    border: 2px solid red;
    border-radius: 60px;
    padding: 0.8vw 0.9vw;  
    width: 4vw;
margin-left: 10%;
height: 4vw ;
}
.users .mainUserBody  .detailsIcons .menusIcons li .IconParent .imageIcon{
    position: relative;
  width: 2vw;
height: 2vw ;
}




.users .mainUserBody  .detailsIcons .menusIcons li p{
margin-top: 2%;
cursor: pointer;
font-size: 1vw;
font-weight: 600;
}
.users .mainUserBody  .detailsIcons .menusIcons li:hover .IconParent{
box-shadow:0px 0px 12px 5px rgb(235, 235, 235);
cursor: pointer;

}
.users .mainUserBody  .detailsIcons .menusIcons li:hover {
color: red;
cursor: pointer;
}


.users .mainUserBody  .followerList{
    width: 100%;
    height: auto;
    list-style: none;
    background-color: rgb(255, 255, 255);
}
.users .mainUserBody  .followerList h6{
    margin-left: 25%;
    margin-bottom: 2%;
    font-size: 1.2vw;
}


.users .mainUserBody  .followerList li{
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0px 0px 12px 2px rgb(219, 219, 219);
    width: 50%;
    height: 10vw;
    margin-bottom: 2%;
    display: flex;
    margin-left: 25%;
}


.users .mainUserBody  .followerList li .followerProfile{
    position: relative;
    width: 20%;
    height: 100%;
}
.users .mainUserBody  .followerList li .followerProfile .imageProfiles{
    position: relative;
    width: 80%;
    margin-top: 10%;
    
    margin-left: 10%;
    height: 80%;
}
.users .mainUserBody  .followerList li .followerProfile .imageProfiles .imagesProfiles{
    border-radius: 10px;
}
.users .mainUserBody  .followerList li .menu {
    width: 60%;
}
.users .mainUserBody  .followerList li .menu h2{
padding-left: 3%;
padding-top: 5%;
    font-size: 1.4vw;
}
.users .mainUserBody  .followerList li .menu button{

    margin-left: 3%;
    background-color: rgb(51, 51, 51);
    font-size: 1vw;
    border-radius: 4px;
    margin-top: 4%;
    font-weight: 500;
    height: 2vw;
    color: white;
        padding: 0% 8%;

}


/* userPostSection */
.users .mainUserBody  .userPostSection {
    width: 100%;
   
    height: auto;
    background-color: rgb(255, 255, 255);
    }
    
.users .mainUserBody  .userPostSection .postSections{
    width: 80%;
    margin-left:10%;
    height: auto; padding-bottom: 2vw;
    display: flex;
flex-wrap: wrap;
 
    }
.users .mainUserBody  .userPostSection .postSections a{
    position: relative;
    width: 30%;
    margin-left:2%;
    margin-bottom: 2%;
    height: 30vw;
    border: 2px solid rgb(70, 70, 70);
box-shadow: 0px 0px 12px 1px rgb(156, 156, 156);
    background-color: rgb(93, 93, 93);
    }
.users .mainUserBody  .userPostSection .postSections a .post{
    position: relative;
    width: 100%;
height: 100%;
    }
    
.users .mainUserBody  .userPostSection .postSections .post .postMedia{
    position: relative;
    width: 100%;
 
    height: 100%;

    }
.users .mainUserBody  .userPostSection .postSections .post:hover{
    box-shadow: 0px 0px 12px 1px rgb(87, 87, 87);
cursor: pointer;

}
    
.users .mainUserBody  .userPostSection .postSections .post:hover .numbersOfPost{
    display: block;
}
/* show on hover menu */
.users .mainUserBody  .userPostSection .postSections .post .numbersOfPost{
position: absolute;
top: 0;
left: 0;
width: 100%;
opacity: 1;
height: 100%;
display: none;
transition: all 0.8s;
}
    
    
.users .mainUserBody  .userPostSection .postSections .post .numbersOfPost .hoverBgHide{
position: absolute;
top: 0;
left: 0;
background-color: #656565;
width: 100%;
opacity: 0.7;
z-index: 1;
display: flex;
justify-content: center;
height: 100%;
}
/* post title */
.users .mainUserBody  .userPostSection .postSections .post .numbersOfPost .postTitle{
    
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  padding-bottom: 2%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(48, 48, 48);
  text-align: center;
  color: white;
   padding-top: 2%;
    }  
    /* post like */
.users .mainUserBody  .userPostSection .postSections .post .numbersOfPost .postLike{
    
    display: flex;
    justify-content: center;
   
    }  
    
.users .mainUserBody  .userPostSection .postSections .post .numbersOfPost .like{
font-size: 2vw;
color: white;
padding-left: 2%;
z-index: 11;
opacity: 1;
margin-left: 5%;
margin-right: 2%;
margin-top: 50%;
}
    
.users .mainUserBody  .userPostSection .postSections .post .numbersOfPost .like span{ 
font-size: 1.8vw;
margin-left: 10px;
}
    


.NoUserFind{
    padding-top: 10%;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    height: 47.4vw;
    line-height: 30vw;
    background-color: #fff;
}
.NoUserFind span{
    color: rgb(253, 83, 15);
    text-transform: uppercase;
}
