.user_panel{
    position: relative;
padding-top: 5.8%;
    width: 80%;
    margin-left: 20%;
    height: auto;
    background-color: #fbfcfe;
    padding-bottom: 2%;
}

.user_panel .user_container{
width: 70%;
margin-top: 2%;
margin-left: 15%;
box-shadow: 0px 0px 2px 2px rgb(247, 247, 247);
border-radius: 6px;
height: auto;
padding-bottom: 5%;
background-color: #ffffff;
}

.user_panel .user_container h1{
font-weight: 600;
font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    padding-top: 4%;
    margin-left: 8%;
    margin-bottom: 5%;
}
/* links */
.user_panel .user_container .links{
    width: 82%;
    margin-bottom: 5%;
    margin-left: 8%;
}

.user_panel .user_container .links h2{

    font-size: 1vw;
    color: #757575;
    font-weight: 600;
    margin-bottom: 1%;
}

.user_panel .user_container .links .link{
    position: relative;
border-bottom: 1px solid rgb(216, 216, 216);
display: flex;
margin-top: 2%;
justify-content: last;
}
.lastLink{
    border-bottom: none !important;


}

.user_panel .user_container .links .link .icon{
    
    height: auto;
    border-radius: 50px;
    text-align: center;
    background-color: red;
    color: white;
    padding-top: 1.7%;
    height: 3vw;
    width: 3vw;
    /* padding: 1.5% 2.3%; */
font-size: 1vw;
margin-bottom: 2%;
}
.user_panel .user_container .links .link .title{
    color: #8c8c8c;
    font-weight: 500;
    width: 91%;
    padding-top: 1.3%;
    padding-left: 2%;
        font-size: 1.1vw;
    }

    .right{
        text-align: right;
margin-top: 4%;
font-size: 0.8vw;
        color: #8c8c8c;
    }
.user_panel .user_container .links .link:hover .title,.user_panel .user_container .links .link:hover{

    color: rgb(37 41 56) !important;
    cursor: pointer;
}

/* btn colors */
.logout{
    background-image: linear-gradient(to right top, #f60303, #ff2c3d, #ff4a65, #ff6788, #ff81a6);
}
.notification{
    background-image: linear-gradient(to right top, #f9a10f, #f0a20b, #e7a209, #dea309, #d5a30b);
}
.userInfo{
    background-image: linear-gradient(to right top, #0f3af9, #0044e8, #004ad5, #004dc1, #064fab);
}
.bookMark{
    background-image: linear-gradient(to right top, #f90ff1, #f34cf7, #ed6afc, #e982fe, #e596ff);
}
.myPost{
    background-image: linear-gradient(to right top, #03f640, #3af756, #54f868, #68f979, #79f989);
}