.mainUploadContainerParent{
    width: 130%;
    
    margin-left: 3%;
    margin-top: 3.5%;
background:#fff;
    border: 2px solid rgb(224, 224, 224);
}

/* before upload  media */
.uploadMedia{
border-radius: 30px;
    width: 100%;
    margin-top: 6%;
background:#fff;
padding-bottom: 4%;
}

.uploadMedia h1{
    padding-left: 5%;
    font-size:3vw;
    color: rgb(36 44 63);
}

.uploadMedia .fileUpload{
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    border: 3px dotted rgb(29, 37, 59);
    height: 25vw;
}
.uploadMedia .fileUpload h2{
    text-align: center;
    font-size: 1.4vw;
    margin-top: 1%;
}
.uploadMedia .fileUpload h3{   
     text-align: center;
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}
.uploadMedia .fileUpload h3 hr{
    width: 20%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}   

.uploadMedia .fileUpload .uploadIconsMedia{
    text-align: center;
    width: 100%;
}
.uploadMedia .fileUpload .uploadIconsMedia .uploadMedias{
margin-top: 10%;

    font-size: 5vw;
    color: rgb(115, 115, 250);
}


.uploadMedia .fileUpload .container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  
  .uploadMedia .fileUpload input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 8px;
    cursor: pointer;
    font-size: 17px;
    color: #b8b8b8;
  }
  
  .uploadMedia .fileUpload .button_wrap {
    
    position: relative;
  }
  .menuIcon{
    cursor: pointer;
  }
  .uploadMedia .fileUpload .button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top: 10%;
    border-radius: 60px;
    padding: 3% 10%;
    margin-left:99%;
    font-size: 1.5vw;
    width: 20vw;
    text-align: center;
    color: white;
    background-color: rgb(115, 115, 250);
  }


/* after upload media */

.mainUploadContainer{
    width: 100%;
  
    margin-top: 1%;
background:#fff;

}
 .upload{
    position: relative;
    width: 96%;
    margin-top: 3%;
    padding-bottom: 2%;
    height: auto;
    margin-left: 2%;
border-radius: 10px;
box-shadow: 0px 0px 20px 10px rgb(244, 244, 244);
}

.upload .TopIcon{
    position: relative;
    width: 100%;
    font-style: 3vw;
}
.upload .postIcon{
    width: 40px;
    margin-top: 3%;
    margin-left: 4%;
    height: 40px;
    background-color: rgb(239, 239, 239);
    border-radius: 60px;
    color: rgb(69, 69, 69);
}

.upload .deleteIcon{
    position: absolute;
    top: 0;
    right: 0;
}
.upload .deleteIcon{
    position: absolute;
    top: 0.3%;
    right: 2%;
background-color: red;
}
.upload .deleteIcon{
    width: 20px;
    margin-top: 3%;
    margin-left: 4%;
    height: 20px;
    cursor: pointer;
    background-color: rgb(239, 239, 239);
    border-radius: 60px;
    color: rgb(251, 7, 7);
}
.upload .TopIcon span{
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 1.2vw;
    margin-left: 2%;
    color: rgb(179, 179, 179);
}

.upload .innerUpload{
    display: flex;
}
.upload .innerUpload .leftMedia{
   width: 60%;
}

.upload .innerUpload .leftMedia .post_info{
width: 100%;
}
.upload .innerUpload .leftMedia .post_info li{
    width: 100%;
    margin-top: 4%;
    list-style: none;
}

.upload .innerUpload .leftMedia .post_info li .title {
    width: 100%;
    margin-top: 2%;
    padding-left: 5%;
    font-size: 1.2vw;
}

.upload .innerUpload .leftMedia .post_info li .input {
    width: 100%; padding-left: 4%;
    font-size: 1.2vw;
    margin-top: 1%;
}
.upload .innerUpload .leftMedia .post_info li .input input{
width: 93%;
    outline: none;
    padding: 0.5% 2%;
    border-radius: 10px;
    border: 2px solid rgb(224, 224, 224);
}

.upload .innerUpload .leftMedia .post_info li .input select{
    width: 33%;
        outline: none;
        text-align: center;
        padding: 0.5% 2%;
        border-radius: 10px;
        border: 2px solid rgb(224, 224, 224);
    }
.upload .innerUpload .leftMedia .post_info li .input textarea{
    width: 93%;
resize: none;
        outline: none;
        padding: 0.5% 2%;
        border-radius: 10px;
        height: 10vw;
        border: 2px solid rgb(224, 224, 224);
    }


    .upload .innerUpload .rightMedia{
        width: 38%;
        padding-top: 3%;
    }
    .upload .innerUpload .rightMedia .title{
        padding-left: 4%;
    }

/* upload media preview */
.upload .innerUpload .rightMedia .mediaImages{
    width: 94%;
    margin-left: 4%;
height: 20vw;
box-shadow: 0px 0px 10px 3px rgb(247, 247, 247);
margin-top: 4%;
    position: relative;
}
.upload .innerUpload .rightMedia .imageMediaDes{
    background-color: rgb(235, 235, 235);
    width: 94%;

    margin-top: 0%; 
    margin-left: 4%;
    height: auto;
padding-bottom: 6%;
}

    .upload .innerUpload .rightMedia .imageMediaDes h2{
        padding-left: 2%;
        padding-top: 2%;
        font-size: 0.8vw;
        color: rgb(82, 82, 82);
    }
    .upload .innerUpload .rightMedia .imageMediaDes p{
        padding-left: 2%;
        font-size: 1.1vw;
        padding-top: 0%;
        color: rgb(0, 0, 0);
    }

/* bottom send btn */

.uploadBtn{
background-color: rgb(235, 235, 235);
width: 100%;
margin-top: 2%;
height: 5vw;
}

.uploadBtn button{
    position: relative;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    padding: 0.5% 0;
    width: 20%;
    font-size: 1.5vw;
    color: rgb(198, 215, 255);
    background-color: rgb(35, 41, 57);
}
.uploadBtn button:hover{
    background-color: rgb(14, 18, 31);
    color: rgb(198, 215, 255);


}
